
<%= form_for @category do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <div class="columns is-multiline">

  <% @subscriptions.each do |subscription| %>

    <div class="column is-one-quarter">
      <div class="box">
      <!-- <input type="checkbox" name="channel_id" value=<%= subscription.channel_id %>></td> -->
      <h5 class="title is-5"><%= subscription.title %></h5>
      <img src=  <%=subscription.image_url%> />
      <p> <%= subscription.video_count%> </p>
    </div>
  </div>


  <% end %>


  <p>
    <%= f.submit %>
  </p>

<% end %>
