
<%= form_for @category do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <div class="columns is-multiline">

  <% @subscriptions.each do |subscription| %>

    <div class="column is-one-quarter">
      <div class="box">
      <h5 class="title is-5"><%= subscription.title %></h5>

      <div class="columns">
        <div class ="column">
          <img src=  <%=subscription.image_url%> />
        </div>
        <div class="column">
          <p> Videos: <%= subscription.video_count%> </p>
          <a href=#> View on YouTube </a>
        </div>
      </div>

    </div>
  </div>


  <% end %>


  <p>
    <%= f.submit %>
  </p>

<% end %>
