
<%= form_for @category do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <% @subscriptions.each do |subscription| %>

  <tr>
    <td><input type="checkbox" name="channel_id" value=<%= subscription.channel_id %>></td>
    <td><%= subscription.title %></td>
  </br>
  </tr>



  <% end %>

  <p>
    <%= f.submit %>
  </p>

<% end %>
