
<style>
.player-size {
    max-width: 640px;
}




</style>

<div class="lightnt">

<div class="card ">
  <div class="card-content">
    <p class="title ">
      <%= @category.name %>
    </p>
    <p class="subtitle ">
      <%= get_channel_description_string %>
    </p>
  </div>
  <!-- <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <%= link_to 'Edit', edit_category_path(@category) %>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        <%= link_to 'Delete', category_path(@category),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        <a href="#">Share</a>
      </span>
    </p>
  </footer> -->
</div>
<div class="column is-half is-offset-one-quarter">

<div class="tabs is-centered is-small is-toggle white">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fa fa-rss"></i></span>
        <span>New</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-line-chart"></i></span>
        <span>Top</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-calendar"></i></span>
        <span>Chronological</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="fa fa-random"></i></span>
        <span>Random</span>
      </a>
    </li>
  </ul>
</div>
</div>


<div class="columns is-mobile ">

  <div class="column is-half is-offset-one-quarter">


    <div id="player" ></div>


    <div class="card player-size ">
      <div class="card-content">
        <p class="title " id="current-video-title"></p>
        <p class="subtitle " id="current-video-channel-title" ></p>
        <p class="subtitle " id="current-video-published-at" ></p>
      </div>
    </div>


  </div>

</div>

</div>

<!-- <div class="card">
  <div class="card-content">
    <p class="title" id="current-video-title"></p>
    <p class="subtitle" id="current-video-channel-title" ></p>
    <p class="subtitle" id="current-video-published-at" ></p>
  </div>
</div> -->




<!-- <div id="current-video-info-card">
  <h1 id="current-video-title" ></h1>
  <div id="current-video-channel-title"></div>
  <div ></div>
</div> -->

<script>
  function video(video_id){
    this.video_id = video_id;
    this.getDetails = function (callback) {
      $.get("http://localhost:3000/api/video/" + this.video_id,
        function(result) {
          console.log(result);
          current_video.title = result.data.title;
          current_video.channel_title = result.data.channelTitle;
          current_video.published_at = result.data.publishedAt;
          current_video.description = result.data.description;
          callback(current_video);
      });
    }
  }
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubePlayerAPIReady() {
   player = new YT.Player('player', {
     height: '390',
     width: '640',
     events: {
       'onReady': onPlayerReady,
       'onStateChange': onPlayerStateChange
     }
   });
  }
  function onPlayerReady(event) {
    event.target.cuePlaylist(<%= raw(@category_video_ids) %>);
  }
  var current_video = {};
  current_video.video_id = null;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING ) {
      video_id = getVideoId(player.getVideoUrl());
      if (current_video.video_id != video_id){
        current_video = new video(video_id);
        current_video.getDetails(updateInfoCard);
      }
    }
    if (event.data == YT.PlayerState.CUED ) {
      console.log("video cued");
      video_id = getVideoId(player.getVideoUrl());
      current_video = new video(video_id);
      current_video.getDetails(updateInfoCard);




    }
  }
  function getVideoId(url){
    var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
    var match = url.match(regExp);
    if (match && match[2].length == 11) {
      return match[2];
    } else {
      console.log("ERROR: Could not extract video_id from player API");
    }
  };
  function updateInfoCard(current_video){
    $("#current-video-title").html(current_video.title);
    $("#current-video-channel-title").html(current_video.channel_title);
    $("#current-video-published-at").html(current_video.published_at);
    $("#current-video-description").html(current_video.description);
  }
</script>
