<!DOCTYPE html>
<html>
  <head>
    <title>Cattube</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/622796ddf3.js"></script>
  </head>


  <body>






      <nav class="nav has-shadow blue">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item">
              <img src="http://i.imgur.com/ioE35wV.png" alt="Bulma logo">
            </a>
            <!-- <a class="nav-item is-tab is-hidden-mobile is-active">Home</a> -->
            <% if current_user %>
            <a class="nav-item is-tab is-hidden-mobile light" href=<%=categories_path%> >Your Categories</a>
            <a class="nav-item is-tab is-hidden-mobile light" href=<%=new_category_path%>>New Category</a>
            <% end %>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <% if current_user %>
            <a class="nav-item is-tab">
              <figure class="image is-16x16" style="margin-right: 8px;">
                <!-- <img src="http://bulma.io/images/jgthms.png"> -->
              </figure>
              <p class="light">
              <%= current_user.name %> </p>
            </a>
            <a class="nav-item is-tab light " href="<%= signout_path %>">Log out</a>
            <% else %>
              <a class="nav-item is-tab light" href="/auth/google_oauth2">Log in / Sign up</a>
            <% end %>

          </div>
        </div>
      </nav>




    <%= yield %>





    </div>
  </body>
</html>
